/* @theme gaia-custom */ 

/* @import "gaia"; */

section{
    background-color: white;
    font-family: "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
    &.top{
      h1{
          font-size: 2rem;
          text-align: center;
          //padding: 20px, 20px, 60px, 20px;
          margin: 120px, 50px, 50px, 50px;
        }
      p{
        text-align: center;
      }
    }
    &.normal{
        h1{
            
        }
        h2{
            
        }
        h3{
            
        }
        h4{
            
        }
    }
    &.final{
        h1{
            text-align: center;
            margin-top: 20px;
        }
        
    }
}

header{
    color: lightyellow;
    background-color: #1b3268;
    height: 45px;
    margin-bottom: 50px;
    font-size: 60%;
    padding: 0px 20px 0px 20px;
}

footer{
    color: lightyellow;
    background-color: #1b3268;
    height: 40px;
    margin-bottom: 0px;
    font-size: 60%;
    padding: 0px 20px 0px 20px;
}

/*
section.top h1,
section.final h1 {
    color: #2c3e50;
  font-size: 2rem;
  margin-top: 140px;
  margin-bottom: 20px;
  text-align: center;
}
section.top h2,
section.final h2 {
  color: #2c3e50;
  font-size: 1rem;
  margin-top: 20px;
  text-align: center;
}

section {
  padding: 50px 50px 50px 50px;
  background-image: url(https://raw.githubusercontent.com/RICORA/logo/main/ricora.svg);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: right 50px top 50px;
}

section.normal h1 {
  color: #2c3e50;
  font-size: 1.6rem;
  border-bottom: 2px solid #2c3e50;
  margin-bottom: -15px;
}

section.normal h2 {
  font-size: 1.3rem;
}

section.normal h3 {
  font-size: 1.1rem;
}

section.normal h4 {
  font-size: 1rem;
}

section.final {
  background-image: url(https://raw.githubusercontent.com/RICORA/logo/main/ricora.svg);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position-x: center;
  background-position-y: 500px;
}

*/